@mixin rounded{
    border-radius: 20%;
}

@mixin underline {
    text-decoration: underline;
}

@mixin bold {
    font-weight: bold;
    
}


p {
    border: 2px gray solid;
    padding: 5px;
    
    .info {
        background-color: blue;
        @include rounded;
    }

    .success {
        background-color: green;
        @include underline;
    }

    .warning {
        background-color: yellow;
        @include bold;
    }

    .error {
        background-color: red;
    }
}
